.logo{
    width: 100px;
    height: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}
.nav-items ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}
.nav-items ul li{
    padding: 10px;
    margin: 10px;
}
.restaurant-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
}
.restaurant-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.filter{
    padding: 10px;
    display: flex;
}
.search-btn, .filter-btn{
    margin-left: 10px;
}
.restaurant-logo{
    width: 100%;
    height: 140px;
}
.restaurant-container, .shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.user-card{
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    margin-top: 10px;
}
.emoji{
    font-size: 15px;
    margin-top: 1px;
    margin-left: 5px;;
}
.online{
    display: flex;
}